/* 
    Document   : javaadoption
    Created on : 19.02.2013, 12:13:47
    Author     : eiselem
    Description:
        Purpose of the stylesheet follows.
*/

a {
    color: #FFFFFF;
}

#geoMessage {
    font-weight: bold;
}

aside.white {
    background: #FFFFFF;
    color: #000;
}

article a {
    color: #004066;
    font-weight: bold;
}